@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.otf') format('opentype'); /* Path to the regular font file */
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaBold.otf') format('opentype'); /* Path to the regular font file */
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaExtrabold.otf') format('opentype'); /* Path to the regular font file */
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaThin.otf') format('opentype'); /* Path to the regular font file */
    font-weight: 100;
    font-style: normal;
  }
  
  


@tailwind base;
@tailwind components;
@tailwind utilities;